*.apk
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.idea/tasks.xml
.externalNativeBuild
google-services.json
freeline_project_description.json
.idea